@font-face {
  font-family: "Title";
  src: url("//db.onlinewebfonts.com/t/e22a8df394ef36d911e0a27d4d9bddff.eot");
  src: url("//db.onlinewebfonts.com/t/e22a8df394ef36d911e0a27d4d9bddff.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e22a8df394ef36d911e0a27d4d9bddff.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e22a8df394ef36d911e0a27d4d9bddff.woff") format("woff"), url("//db.onlinewebfonts.com/t/e22a8df394ef36d911e0a27d4d9bddff.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e22a8df394ef36d911e0a27d4d9bddff.svg#Derivia") format("svg");
}

@font-face {
  font-family: 'Text';
  src: url('~assets/fonts/Helvetica-regular.otf');
}
